# RabbitMQ
aio-pika
pika

# Pydantic
pydantic
pydantic-settings

# MongoDB
motor
pymongo

# Redis
redis

# OpenAI and LangChain
openai
langchain
langchain-openai
langchain-core
tiktoken

# Environment Variables
python-dotenv

# Testing
pytest
pytest-asyncio
pytest-cov

# Logging
python-json-logger
